*{
  font-family: 'Kreon';
  color:  rgb(24, 138, 28);



}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  }
h1{
  margin: 34px;
      border-bottom: 3px solid;
      border-color: rgb(24, 138, 28);
  font-weight: bold;
  font-size: 40px;

}
  
  .image-container {
    margin-top: 10px;
  }
  
  .content {
    display: flex;
    flex: 30%;
    margin: 12px;
    padding: 20px;
    flex-direction: column;
  
  }
  .item{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    
          }
  label{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .item2{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px;
    
          }
  input{
    width: 220px;
    border: none;
    border-bottom: 2px solid rgb(24, 138, 28);
    }
    .item2{
      font-size: medium;
      margin-right: 40px;
      align-content: center;
      color: #ffff;
      width: 100px;
      border-radius: 25px;
      padding: 13px;
      background-color: rgb(24, 138, 28);
      border: 1px solid rgb(24, 138, 28) ;
    }
  